<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{{ url_for('static',filename='rsvdb/css/bootstrap.min.css')}}">
    <link href="{{ url_for('static',filename='rsvdb/css/style.css')}}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static',filename='rsvdb/img/mainlogosm.png')}}" type="images/x-ico" /> {% block title %}
    <title>RNA structrue database</title>
    {% endblock %} {% block extendFile %}{% endblock %}

</head>

<body>
    <nav class="navbar navbar-default" style="margin-bottom:0px">
        <div class="container-fluid">
            <div class="navbar-header">
                <a id="smlogo" class="navbar-brand">
                    <img id='mainlogosize' alt="Brand" src="{{ url_for('static',filename='rsvdb/img/mainlogosm.png')}}" style="float:left"><span style="float: left">RSVdb</span></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% block dataButt %}
                    <li><a href="{{url_for('showDetail')}}">Browse</a></li>
                    {% endblock %} {% block struButt %}
                    <li><a href="{{url_for('showStruViewer')}}">Viewer</a></li>
                    {% endblock %}
                </ul>
            </div>
        </div>
    </nav>
    {% block content %} {% endblock %}
    <script src="{{ url_for('static',filename='rsvdb/js/jquery.min.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='rsvdb/js/bootstrap.min.js')}}"></script>
    {% block footjs %} {% endblock %}
    <canvas id="testhtml5canvas" style="height: 50px;"></canvas>

    <script>
        if (!document.getElementById("testhtml5canvas").getContext) {
            window.location.href = "{{url_for('showSupport')}}";
        }
    </script>
</body>
<footer>
    <span style="font-size: 120%">RSVdb <a>&copy</a>2019 <a href="http://taolab.nwsuaf.edu.cn">Shiheng Tao Lab</a>, <a href="http://nwsuaf.edu.cn">Northwest A&F University</a> </span>
</footer>

</html>