{% extends 'rsvdb/base.html' %}

{% block extendFile %}
<link href="{{ url_for('static',filename='rsvdb/css/bootstrap-table.min.css')}}" rel="stylesheet">
<script src="{{ url_for('static',filename='rsvdb/js/bootstrap-table.min.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='rsvdb/js/bootstrap-table-export.min.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='rsvdb/js/tableExport.min.js')}}"></script>
<script src="{{ url_for('static',filename='rsvdb/js/echarts.min.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='rsvdb/js/bootstrap-select.min.js')}}"></script>
<link href="{{ url_for('static',filename='rsvdb/css/bootstrap-select.min.css')}}" rel="stylesheet">
<script src="{{ url_for('static',filename='rsvdb/js/plot.js')}}"></script>
<script src="{{ url_for('static',filename='rsvdb/js/ajax.js')}}"></script>

{% endblock %}

{% block dataButt %}
<li class="active"><a href="{{url_for('rsvdb.showDetail')}}">Browse</a></li>
{% endblock %}

{% block content %}
<div class="jumbotron homeIntroShow subintroshow" id="jumbotron">
    <div class="sublogo" id="zhezhao">
        <h1><img class='mainlogo' src="{{url_for('static',filename='rsvdb/img/browse.png')}}"><i>In vivo</i> RNA
            Structure Browse</h1>
        <p class="subp">Select the appropriate species and study to obtain information of mRNA structure <i>in vivo</i>.
        </p>
    </div>
</div>
<div class="row allthings">
    <div class="btn-group-vertical" role="group">
        <button class="btn btn-default" disabled="disabled">Species</button>
        {% for sp in spes %}
        {% if sp==spin %}
        <button type="button" class="active btn btn-default spbutt">{{sp}}</button>
        {% else %}
        <button type="button" class="btn btn-default spbutt">{{sp}}</button>
        {% endif %}
        {% endfor %}
    </div>


    <div class="btn-group-vertical" role="group" id="geocontent">
    </div>
    <div class="infotabledetail container col-md-5 col-xs-9">
        <div class="panel panel-success">
            <div class="panel-heading"><a data-toggle="tooltip" data-placement="right"
                    title="Basic information of the study.">Study info</a></div>
            <table class="table table-bordered table-hover" id="showTable">
                <tr>
                    <td class="tableLab"><a data-toggle="tooltip" data-placement="right"
                            title="The title of data source study.">Title:</a></td>
                    <td colspan="5" id="geotitle"></td>
                </tr>
                <tr>
                    <td class="tableLab"><a data-toggle="tooltip" data-placement="right"
                            title="The species involved in the data.">Species:</a></td>
                    <td id="geospecies"></td>
                    <td class="tableLab"><a data-toggle="tooltip" data-placement="right"
                            title="Accession number of the Gene Expression Omnibus(GEO) database.">GEO:</a></td>
                    <td id="geogeo"></td>
                    <td class="tableLab"><a data-toggle="tooltip" data-placement="right"
                            title="PubMed Unique Identifier(PMID)">PMID:</a></td>
                    <td id="geopmid"></td>
                </tr>


                <tr style="height:50px">
                    <td class="tableLab"><a data-toggle="tooltip" data-placement="right"
                            title="Summary of this study experiment design, retrieved from GEO database.">Summary:</a>
                    </td>
                    <td colspan="5">
                        <span id="firstAbs"></span>
                        <span style="visibility: hidden;display: none;" id="otherAbs"> </span>
                        <a onclick="showOthers()" id="labmore">[more...]</a>
                    </td>
                </tr>
                <tr>
                    <td class="tableLab"><a data-toggle="tooltip" data-placement="right"
                            title="Public time of the data or study.">Public:</a></td>
                    <td id="geopublicon"></td>
                    <td class="tableLab"><a data-toggle="tooltip" data-placement="right"
                            title="Quality control results of sequencing data by MultiQC.">QC</a></td>
                    <td><a id="mutiqc" href="#">Report</a></td>
                    <td class="tableLab"><a data-toggle="tooltip" data-placement="right" title="Reference genome number for mapping">Ref</a></td>
                    <td id="refgenome"></td>
                </tr>
            </table>
        </div>
        <div class="panel panel-success flow">
            <div class="panel-heading charthead"><a data-toggle="tooltip" data-placement="bottom"
                    title="Average alignment rate and ATCG content of all samples in the study of transcriptome and genome.">Transcriptome
                    and genome mapping statistic</a></div>
            <div id="totalmap" style="width:100%;height:300px;">
            </div>
        </div>

        <div class="panel panel-success flow">
            <div class="panel-heading"><a data-toggle="tooltip" data-placement="bottom"
                    title='Label, complete name and SRR number list of the samples contained in the study '>Sample
                    contained</a></div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>

                        <td class="tableLab" colspan="2"><a data-toggle="tooltip" data-placement="right"
                                title="Short name of each experiment samples. The original samples name was replaced by the abbreviation.">Label</a>
                        </td>
                        <td class="tableLab" colspan="2"><a data-toggle="tooltip" data-placement="right"
                                title="The complete sample name used in the study, obtained from GEO database.">Sample</a>
                        </td>
                        <td class="tableLab" colspan="2"><a data-toggle="tooltip" data-placement="right"
                                title="The list containing accession number of Sequence Read Archive database.">SRR
                                list</a></td>
                    </tr>
                </thead>
                <tbody id="samples_table">

                </tbody>
            </table>
        </div>
        <div class="panel panel-success flow">
            <div class="panel-heading charthead" id="totalstatichead" style="width:100%">
                <a data-toggle="tooltip" data-placement="bottom"
                    title="Mapping statistics of reads and comparison between different samples">Mapping statistic of
                    samples</a>
            </div>
            <div id="totalstatic" style="position: relative; width:100%;height:350px">
            </div>
        </div>
        <div class="panel panel-success flow">
            <div class="panel-heading">
                <div id="srrselect" class="titleselects"></div>
                <h5><a data-toggle="tooltip" data-placement="right"
                        title="Information of top 100 transcripts ranked by RPKM">RPKM top 100 transcripts</a></h5>
            </div>
            <table id="struInfoTable">
            </table>
        </div>


    </div>

    <div class="infostatis container col-md-5 col-xs-12">
        <div class="panel panel-info flow">
            <div class="panel-heading charthead" id="rpkmstatichead" style="width:100%">
                <a data-toggle="tooltip" data-placement="bottom"
                    title="The distribution of DMS RPKM of all samples">Histogram of DMS RPKM</a>
            </div>
            <div id="rpkmstatic" style="position: relative; width:100%;height:350px">
            </div>
            <div id="rpkmshade" class="loading shade">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Loading...
            </div>
        </div>
        <div class="panel panel-info flow">
            <div class="panel-heading charthead" style="width:100%">
                <h5><a data-toggle="tooltip" data-placement="bottom"
                        title='Compare the structure strength between different region or sample with different treatment.'>Boxplot
                        of Gini coefficient</a></h5>
                <h5 class="rightselect"><a data-toggle="tooltip" data-placement="bottom"
                        title="Different screening thresholds mean that the proportion of 0 sites is higher than the threshold is removed. If the threshold is 100%, no screening will be conducted.">Threshold:
                    </a>
                    <select class="selectpicker" id="giniboxall">
                        <option>50%</option>
                        <option>60%</option>
                        <option>70%</option>
                        <option>80%</option>
                        <option>90%</option>
                        <option>100%</option>
                    </select></h5>

            </div>
            <div id="giniboxstatic" style="position: relative; width:100%;height:350px">
            </div>
            <div id="giniboxshade" class="loading shade">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Loading...
            </div>

        </div>
        <div class="panel panel-info ">
            <div class="panel-heading">
                <div id="titleselect" class="titleselects"></div>
                <h5><a data-toggle="tooltip" data-placement="bottom"
                        title="Basci information of the sample of the study you selected">Sample info</a></h5>
            </div>

            <table class="table table-bordered table-hover" id="srrTable">
                <tr>
                    <td class="tableLab"><a data-toggle="tooltip" data-placement="right"
                            title="The list containing accession number of Sequence Read Archive database.">SRR list</a>
                    </td>
                    <td colspan="5" id="srrlist"></td>
                </tr>
                <tr>
                    <td class="tableLab"><a data-toggle="tooltip" data-placement="right"
                            title="Short name of each experiment samples. The original samples name was replaced by the abbreviation.">Label</a>
                    </td>
                    <td colspan="2" id="simsample"></td>
                    <td class="tableLab"><a data-toggle="tooltip" data-placement="right"
                            title="The complete sample name used in the study, obtained from GEO database.">Sample</a>
                    </td>
                    <td colspan="2" id="sample"></td>
                </tr>
                <tr>
                    <td class="tableLab"><a data-toggle="tooltip" data-placement="right"
                            title="Sequencer used.">Instrument:</a></td>
                    <td colspan="2" id="srrinstru"></td>
                    <td class="tableLab"><a data-toggle="tooltip" data-placement="right"
                            title="Statistics of reads in the sample.">Runs:</a></td>
                    <td colspan="2" id="runs"></td>
                </tr>
                <tr>
                    <td class="tableLab"><a data-toggle="tooltip" data-placement="right"
                            title="Construction protocol">Protocol:</a></td>
                    <td colspan="5" id="protocal"></td>
                </tr>
            </table>


        
        <div class="panel panel-info flow">
            <div class="panel-heading charthead" style="width:100%">
                <h5><a data-toggle="tooltip" data-placement="bottom"
                        title='Distribution of Gini index in the histogram'>Histogram of Gini coefficient.</a></h5>
                <h5 class="rightselect"> <a data-toggle="tooltip" data-placement="bottom"
                        title="Different screening thresholds mean that the proportion of 0 sites is higher than the threshold is removed. If the threshold is 100%, no screening will be conducted.">Threshold:
                    </a>
                    <select class="selectpicker" id="ginihistall">
                        <option>50%</option>
                        <option>60%</option>
                        <option>70%</option>
                        <option>80%</option>
                        <option>90%</option>
                        <option>100%</option>
                    </select></h5>

            </div>
            <div id="ginihist" style="position: relative; width:100%;height:350px">
            </div>
            <div id="ginihistshade" class="loading shade">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Loading...
            </div>
        </div>
    </div>
    </div>
</div>



<script>


    window.onload = function () {
        $(".spbutt").bind("click", function () {
            $(".spbutt").removeClass("active");
            showgeo($(this).text());
            $(this).addClass("active");
        });
        $("#struInfoTable").bootstrapTable({
            striped: true,
            pagination: true,
            sidePagination: "client",
            pageNumber: 1,
            pageSize: 10,
            strictSearch: true,
            showColumns: true,
            clickToSelect: true,
            uniqueId: "id",
            showToggle: true,
            showExport: true,
            exportDataType: "all",

            columns: [{
                field: 'id',

                title: '<a data-toggle="tooltip" data-placement="right" title="Number of RPKM top 100 structured transcripts.">Index</a>',
                width: '80px'
            }, {
                field: 'gene',
                title: '<a data-toggle="tooltip" data-placement="right" title="Transcript ID">Transcript</a>'
            }, {
                field: 'length',
                title: '<a data-toggle="tooltip" data-placement="right" title="Transcript Length">Length</a>'
            }, {
                field: 'gc',
                title: '<a data-toggle="tooltip" data-placement="right" title="GC content of the transcript.">GC</a>'
            }, {
                field: 'dms',
                title: '<a data-toggle="tooltip" data-placement="right" title="Averaged DMS signal value(unnormalized) of the transcript.">DMS</a>'
            }, {
                field: 'gini',
                title: '<a data-toggle="tooltip" data-placement="right" title="Average Gini coefficient(The gini coefficient is calculated by sliding window with 50nt window size and 50nt step size) of each transcript.">Gini</a>'
            }, {
                field: 'rpkm',
                title: '<a data-toggle="tooltip" data-placement="bottom" title="Reads Per Kilobase per Million mapped reads (DMS signals) of the transcript.">RPKM</a>'
            }]
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        $('.spbutt:contains("{{spin}}")').addClass("active");
        $("#geospecies").text("{{spin}}");
        $("#giniboxall").selectpicker('refresh');
        $("#giniboxall").on('changed.bs.select', function (e) {
            let spe = $("#geospecies").text();
            let geo = $("#geogeo").text();
            getGiniBox(spe, geo, spe, e.currentTarget.value);
        });
        $("#ginihistall").selectpicker('refresh');
        $("#ginihistall").on('changed.bs.select', function (e) {
            let spe = $("#geospecies").text();
            getGiniHist(spe, $("#simsample").text(), e.currentTarget.value);
        });
        $.post("/browse" + "/{{spin}}", { "med": "geoname" }, function (data) {
            let tmp = data.split(",");
            $("#geocontent").html("");
            $("#geocontent").append('<button class="btn btn-default" disabled="disabled">Studies</button>');
            for (i = 0; i < tmp.length; i++) {
                $("#geocontent").append('<button type="button" class="btn btn-default geobutt">' + tmp[i] + '</button>');
            }
            $(".geobutt").bind("click", function () {
                $(".geobutt").removeClass("active");
                showgeoinfo($(".spbutt.active").text(), $(this).text());
                $(this).addClass("active");
            });
            {% if (geo != "DEF") and(not(geo is none)) %}
            $('.geobutt').removeClass("active");
            $('.geobutt:contains("{{geo}}")').addClass("active");
            showgeoinfo("{{spin}}", "{{geo}}");
            {% else %}
            $(".geobutt:first").addClass("active");
            showgeoinfo("{{spin}}", $(".geobutt:first").text());
            {% endif %}
        });

    }

</script>
{% endblock %}